<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">NgRx State Management Demo</a>
</nav>
<div id="wrapper">
  <div style="align: center;">
      <form class="form-inline m-1">
          <label class="font-weight-bold">Enter User Name :</label>
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" placeholder="User Name" name="itemName" [(ngModel)]="newShoppingItem.name">
          </div>
          <button type="submit" class="btn btn-primary mb-2" (click)="addItem()">ADD</button>
        </form>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>User List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shopping of shoppingItems | async">
            <td>{{shopping.id}}</td>
            <td>{{shopping.name }}</td>
            <td>
              <button (click)="deleteItem(shopping.id)" type="button" class="btn btn-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #error>
    <h2>{{(error$ | async)?.message}}</h2>
  </ng-template>

  <!-- <div id="shopping-list">
    <div id="list">
      <h2>Shopping List</h2>
      <ul>
        <li class="list-group-item list-group-item-danger" *ngFor="let shopping of shoppingItems$ | async" (click)="deleteItem(shopping.id)">
          {{ shopping.name }}
        </li>
        <button>Action</button>
      </ul>
    </div>

  </div>

</div> -->
